html {
    background: #e6e9e9;
    background-image: url("http://wallpapercave.com/wp/ZZ9vHOA.jpg") 
}

 body {
    background: #888;
    color: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    text-align: center;
} 

table {
    text-align: center;
    border: 2px solid black;
}

li {
    text-align: left;
}

table.center {
    margin: auto;
}

h1, h2 {
    color: blue;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    background-color: deepskyblue;
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid black;
    text-shadow: 1px 1px 0px #000;
}

.border {
    border: 2px solid black;
}

a {
    color: #0083e8;
}

img {
    height: 75px;
    width: 75px;
}